/*------------------------------------------------------------------------------------ HOME Section -----------------------------------------------------------------*/
#profilepicture{
    border-radius: 50%;
    float: left;
    
}
#pp {
    border-radius: 50%;
    height:80px;
    width: 80px;
}

#pen_post {
    background: mediumorchid;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    position: fixed; 
    bottom: 80px;  
    left: 1375px; 

}


#pen {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position:fixed;
    bottom: 79px;
    left: 1375px;
    border: 3px solid mediumorchid;
}

.textStyle{
    margin-left:89px;
}

#postContent{   
    position: absolute;
    z-index: 10;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    
}

.cpdmodal{
    width: 100%; 
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto; 
    position: fixed;
    z-index: 1000;
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 600ms ease-in;

}
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}

#postDiv {

    color: black;
    font-family: 'Peddana', serif;
    font-size: 23px;
    padding: 30px;
    width: 75%;
    margin: 30px;
    background: white;
    border:  palegoldenrod;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 3px#888888;
    position: relative;
    z-index:1;
    word-wrap: break-word;
    
    
}

#createPost{
    width: 70%;
    height: 200px;
    background-color:palegoldenrod;
    border:white;
    border-style: solid;
    border-radius: 15px;
    z-index: 99999;
    position: fixed;
    left:135px;
    margin-top: 25vh;
    
}

#createPost textarea {
    background: palegoldenrod;
    box-shadow: none;
    outline: none;
    size: 800px;
    border-width: 0px;
    border-bottom: 1px solid gray;
    margin-left: 20px;
    margin-top: 30px; /*60*/
    width: 50vw;
    word-break: break-all;
    resize: none;
    /*word-wrap: break-word;*/   
}


#postbtn{
    background-color: white;
    position:relative;
    left: 10px;
    width: 100px;
    height: 30px;
    border:white;
    color: gray;
    border-style: solid;
    border-radius: 15px;
    /*margin-left: 500px;*/
    margin-top: 60px;
    
}

#postbtn:hover{
    
    color: palegoldenrod;
    border:gray;
    border-style: solid;
    
}

.nameHighlight{

    font-size: 35px;
    cursor: pointer;
}

.nameHighlight:hover{
    text-decoration: underline;

}




.cancelPostBtn{
    background-color: transparent;
    color: gray;
    border: none;
    position:relative;
    left: 950px;
    top: 20px;
    font-size: large;
}



#postdelete{
    /*background-color: white;
    width: 100px;
    height: 30px;
    border:palegoldenrod;
    color: gray;
    border-style: solid;
    border-radius: 15px;
    margin-left: 1050px;*/
    
}

#postdelete:hover{
    background-color:red;
    color: white;
   
}

/* This fires as soon as the element enters the DOM */
.cpd-transition-enter{
    opacity:0.01;
    color: transparent;
    
}

/* This is where we can add the transition*/
.cpd-transition-enter-active {
    opacity:1;
    transition: opacity 600ms ease-in;
}



/* This fires as soon as the this.state.showList is false */
.cpd-transition-exit{

    opacity:1;
    
    
}
/* fires as element leaves the DOM*/
.cpd-transition-exit-active{

  opacity: 0.01;
  transition: opacity 600ms ease-in;
  color: transparent;
}


/*---------------------------------------------------------------------- LINK TO -----------------------------------------------------------*/

.message{

    border-radius: 50%;
    width: 50px;
    height: 50px;
    position:fixed;
    bottom: 150px;
    left: 1375px;
    border: 3px solid mediumorchid;

}

.profile{

    border-radius: 50%;
    width: 50px;
    height: 50px;
    position:fixed;
    bottom: 220px;
    left: 1375px;
    border: 3px solid mediumorchid;

}

.home{

    border-radius: 50%;
    width: 50px;
    height: 50px;
    position:fixed;
    bottom: 220px;
    left: 1375px;
    border: 3px solid mediumorchid;

}


.display-visibility {
    position:fixed;
    bottom: 179px;
    left: 1275px;
    display:block;
    opacity:1;
    transition: opacity 600ms ease-in;
}
  
.display-none-visibility {
    position:fixed;
    bottom: 179px;
    left: 1275px;
    display:none;
    opacity:0;
    transition: opacity 600ms ease-in;
    
}

/*--------------------------------------------------------------------- PROFILE PAGE ---------------------------------------------------------*/

.ProfileBody{
    position:absolute;
}

.logOutButton{

    position:fixed;
    top: 500px;
    left:50px; /*1245px*/
    background-color: white;
    width: 100px;
    height: 30px;
    border:purple;
    color: gray;
    border-style: solid;
    border-radius: 15px;
    
}

.uploadButton{

    position:fixed;
    top: 450px;
    left:35px; 
    background-color: white;
    width: 130px;
    height: 30px;
    border:purple;
    color: gray;
    border-style: solid;
    border-radius: 15px;

}


.uploaddiv{

    background-color: rgba(105, 12, 105, 0.4);
    width: 250px;
    padding: 30px;
    position:fixed;
    top: 300px;
    left:5px; 
    border-style: solid;
    border-radius: 15px;
    z-index: 35;

}


.none-uploaddiv{

    background-color: rgba(105, 12, 105, 0.4);
    width: 250px;
    padding: 30px;
    position:fixed;
    top: 300px;
    left:5px; 
    display: none;
    border-style: solid;
    border-radius: 15px;

}

.cancelUploadBtn{

    background-color: transparent;
    color: black;
    border: none;
    position:relative;
    left: 240px;
    top: -20px;
    font-size: large;
}

#imageupload{
    position:relative;
    left:-20px;
    border-style: 0.5px solid;
    border-radius: 1px;
}

#imagesend{
    position:relative;
    left:-20px;
    margin-top: 15px;
    border-style: solid;
    border-radius: 15px;
}

.ppinprofilepage{
    position: fixed;
    left:50px;
    top: 130px;  
    
}
.userName{
    position:fixed;
    color: gray;  
    left: 45px;
    top: 190px;
    font-size: 35px;
}

.verticleLine{
    border-left: 1.5px solid darkmagenta;
    height: 100vh;
    position: fixed;
    left: 195px;
    top: 0;  
}

#userPostDiv{
    color: black;
    font-family: 'Peddana', serif;
    font-size: 23px;
    padding: 30px;
    width: 1000px;
    margin: 30px;
    background: white;
    border:  palegoldenrod;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 3px#888888;
    position:relative;
    left: 190px;
    z-index: 1;
    word-wrap: break-word;
}




#userPostdelete{
    background-color: white;
    width: 100px;
    height: 30px;
    border:palegoldenrod;
    color: gray;
    border-style: solid;
    border-radius: 15px;
    position: relative;
    left: 900px;
    
}

#userPostdelete:hover{
    background-color:red;
    color: white;
   
}
